################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ShoppingTeam/v15/Server/sqlite3/db.lock
*.dtbcache
*.cache
*.props
*.suo
/.vs/ShoppingTeam/v15/Server/sqlite3
/.vs
